<div id="app">
  <h1>Add new task</h1>
  <div>
    <input type="text" v-model="newTaskText">
    <button v-on:click="addTask()">Add task</button>
  </div>
  <h1>Tasks</h1>
  <h5>Number of tasks: {{ tasks.length }}</h5>
  <h5>Number of incomplete tasks: {{ numberOfIncompleteTasks() }}</h5>
  <ul>
    <li v-for="task in tasks" v-on:click="toggleComplete(task)" v-bind:class="{finished: task.completed}">
      {{ task.text }}
    </li>
  </ul>
  <div>
    <button v-on:click="removeCompletedTasks()">Clear completed tasks</button>
  </div>
</div>
